<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="OpenNewAccountTest">

        <parameter name="browser" value="firefox"></parameter>

        <classes>
<!--            <class name="OpenNewAccountTest.OpenNewAccountTest"></class>-->
<!--            <class name="OpenNewAccountTest.RegisterNewAccountTest"></class>-->
            <class name="OpenNewAccountTest.TransferTest"></class>
        </classes>
    </test>
</suite>